h1#abc{
    color:red !important;
}

header{
  height: 140px;
  border: 1px dashed red;
}
main{
  min-height: 450px;
  border:1px dashed red;
}
aside,section{
  border:1px dashed red;

}
footer{
  height: 70px;
  border:1px dashed red;
}